.background-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(175,175,190,0.5);
}

.loginBG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
    background: url("../../assets/michael-geiger-JJPqavJBy_k-unsplash.jpg");
    background-size: cover;
}

.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 30vw;
    padding: 20px;
    text-align: center;
    background-color: rgba(240,240,240,0.78);
    border: 2px 2px 1px 1px dark gray;
    border-style:outset;
    box-shadow: 6px 8px 12px darkred;
}

.loginForm h1 {
    font-size: 3.2rem;
    color: crimson;
    font-style:oblique;
}

.loginForm #flag {
    color: black;
}

.loginForm #version {
    font-size: 1.4rem;
    color: darkred;
}

input {
    margin: 5px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
}

