.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    height: 100vh;
    padding: 50px 15px 15px 15px;
    background-color: lightgray;
    text-align: center;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar Link:hover {
    transition: ease-in-out 500;
    cursor: pointer;
    background: maroon;
    color: white;
}